.nfs*
*.ncb
*.suo
*.bak
*~
*/\#*\#
*.swp
*.orig
*.rej
*.aps
*.d
*.ko
*.o
*.pyc
*.old
*.user
*.mod.c
.*.cmd
.tmp_*
BuildLog.htm
cscope.*
Module.*
Modules.symvers
modules.*
tags
TAGS
semantic.cache
*.gpState
*.log
*.so
Thumbs.db
.reviewboardrc
.gdb_history

.#*
/build
/obj
/buildlock
/configuration
/install
/logs
/logs.build_tree
/release
/src/.project
/src/.cdtproject
/src/driver/linux_net/.kpath
/src/driver/linux_net/autocompat.h
/src/driver/linux_net/config.h
/src/driver/linux_net/doc/html
/src/driver/linux_net/doc/man
/src/driver/linux_net/util/ethsend
/src/driver/linux_net/util/evq_ack
/src/driver/linux_net/util/pktgen
/src/driver/linux_net/util/reset_nic
/src/driver/linux_net/util/set_loopback
/src/driver/linux_net/util/sfc_*
/src/driver/linux_net/util/user_autocompat.h
/rpm
/tests
/src/include/etherfabric/doxygen/html
/src/include/etherfabric/doxygen/html.zip
/src/include/etherfabric/doxygen/latex
/src/include/etherfabric/doxygen/rtf
/src/lib/zf/doxygen/html
/src/lib/zf/doxygen/html.zip
/src/lib/zf/doxygen/latex
/src/lib/zf/doxygen/rtf
