/* SPDX-License-Identifier: BSD-2-Clause */
/* X-SPDX-Copyright-Text: (c) Copyright 2026 Advanced Micro Devices, Inc. */

/* This file isn't intended to work by itself, and is structured more as a
 * template requiring certain inputs to generate specialisations of the
 * EFCT transmit functions.
 *
 * The following symbols must be defined by includers:
 * - #define EFCT_TX_CHUNK_SIZE n:
 *   - Integer macro representing bytes per transmission chunk.
 * - void efct_tx_write_EFCT_TX_CHUNK_SIZE(volatile void* dst, const void* src):
 *   - Function responsible for the write to the CTPIO aperture for this chunk
 *     size, macro name should be expanded, e.g.: efct_tx_write_8 for an 8-byte
 *     chunk size.
 *
 * Optionally also define:
 * - #define EFCT_TX_FUNCTION_ATTRS __attribute__((...)):
 *   - Additional attributes to apply to all TX functions. If not defined, then
 *     it will be defined as nothing.
 *
 * Any input macros, or macros defined internally will be undefined at the end
 * of this file.
 */

#ifndef EFCT_TX_CHUNK_SIZE
#error "efct_tx.h requires EFCT_TX_CHUNK_SIZE to be defined"
#endif

#ifndef EFCT_TX_FUNCTION_ATTRS
#define EFCT_TX_FUNCTION_ATTRS
#endif

/* This isn't a strict requirement, more an indication that future developers
 * should double check validity of existing implementations that may make
 * incorrect assumptions using these values. */
#if EFCT_TX_CHUNK_SIZE != 8 && EFCT_TX_CHUNK_SIZE != 64
#error "efct_tx.h only supports EFCT_TX_CHUNK_SIZE = (8, 64)"
#endif

#define _EFCT_TOKEN_CONCAT(x, y) x##_##y
#define EFCT_TOKEN_CONCAT(x, y) _EFCT_TOKEN_CONCAT(x, y)
#define EFCT_TX_TOKEN(name) EFCT_TOKEN_CONCAT(name, EFCT_TX_CHUNK_SIZE)

#define EFCT_TX_TAIL_SIZE (EFCT_TX_CHUNK_SIZE / (sizeof(efct_tx_aperture_t)))

/* state of a partially-completed tx operation */
struct EFCT_TX_TOKEN(efct_tx_state)
{
  /* base address of the aperture */
  volatile efct_tx_aperture_t* aperture;
#if EFCT_TX_CHUNK_SIZE != 64
  /* left over bytes after writing a block */
  efct_tx_aperture_t tail[EFCT_TX_TAIL_SIZE];
#endif
  /* number of left over bytes in 'tail' */
  unsigned tail_len;
  /* number of 64-bit words from start of aperture */
  uint64_t offset;
  /* mask to keep offset within the aperture range */
  uint64_t mask;
#if EFCT_TX_CHUNK_SIZE == 64
  /* left over bytes after writing a block - this should be appropriately
   * aligned to avoid two unaligned loads when using movdir64b */
  efct_tx_aperture_t tail[EFCT_TX_TAIL_SIZE] EF_VI_ALIGN(EF_VI_DMA_ALIGN);
#endif
};

/* initialise state for a transmit operation */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_init)(ef_vi* vi, struct EFCT_TX_TOKEN(efct_tx_state)* tx)
{
  unsigned offset = vi->ep_state->txq.ct_added;
  int i;
  BUG_ON(offset % EFCT_TX_ALIGNMENT != 0);
  tx->aperture = (void*) vi->vi_ctpio_mmap_ptr;
  tx->tail_len = 0;
  tx->offset = efct_tx_scale_offset_bytes(offset);
  tx->mask = vi->vi_txq.efct_aperture_mask;
  for( i = 0; i < EFCT_TX_TAIL_SIZE; i++)
    tx->tail[i] = 0;
}

/* store a left-over byte from the start or end of a block */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_tail_byte)(struct EFCT_TX_TOKEN(efct_tx_state)* tx,
                                 uint8_t byte)
{
#if EFCT_TX_CHUNK_SIZE == 64
  const int idx = tx->tail_len / sizeof(tx->tail[0]);
#else
  const int idx = 0;
#endif
  BUG_ON(tx->tail_len >= sizeof(tx->tail));
  tx->tail[idx] = (tx->tail[idx] << 8) | byte;
  tx->tail_len++;
}

/* write a chunk to the CTPIO aperture */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_chunk)(struct EFCT_TX_TOKEN(efct_tx_state)* tx,
                             const void* src)
{
  void* dst = (void*)&tx->aperture[tx->offset & tx->mask];
  const uint64_t tx_offset_inc =
    efct_tx_scale_offset_bytes(EFCT_TX_CHUNK_SIZE);
  /* The aperture offset increases by the same amount every time, and we must
   * be certain that we can't end up writing past the end of our aperture. As
   * such, it must be true that the aperture is divisible by the amount we
   * increase the offset by for each write with no remainder. */
  BUG_ON((tx->mask + 1) % tx_offset_inc != 0);
  BUG_ON(EF_VI_CACHE_LINE_SIZE != 64);

  /* Call the externally defined write implementation. */
  EFCT_TX_TOKEN(efct_tx_write)(dst, src);

  tx->offset += tx_offset_inc;
}

/* write the tail to the CTPIO aperture */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_tail)(struct EFCT_TX_TOKEN(efct_tx_state)* tx)
{
  int i;

  for( i = 0; i < EFCT_TX_TAIL_SIZE; i++ )
    tx->tail[i] = CI_BSWAP_BE64(tx->tail[i]);

  EFCT_TX_TOKEN(efct_tx_chunk)(tx, tx->tail);

  for( i = 0; i < EFCT_TX_TAIL_SIZE; i++ )
    tx->tail[i] = 0;
  tx->tail_len = 0;
}

/* write a block of bytes to the CTPIO aperture, dealing with wrapping and
 * leftovers */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_block)(struct EFCT_TX_TOKEN(efct_tx_state)* __restrict__ tx,
                             char* base, int len)
{
  if( tx->tail_len != 0 ) {
    while( len > 0 && tx->tail_len < EFCT_TX_CHUNK_SIZE ) {
      EFCT_TX_TOKEN(efct_tx_tail_byte)(tx, *base);
      base++;
      len--;
    }

    if( tx->tail_len == EFCT_TX_CHUNK_SIZE ) {
      EFCT_TX_TOKEN(efct_tx_tail)(tx);
    }
  }

  while( len >= EFCT_TX_CHUNK_SIZE ) {
    EFCT_TX_TOKEN(efct_tx_chunk)(tx, base);
    base += EFCT_TX_CHUNK_SIZE;
    len -= EFCT_TX_CHUNK_SIZE;
  }

  while( len > 0 ) {
    EFCT_TX_TOKEN(efct_tx_tail_byte)(tx, *base);
    base++;
    len--;
  }
}

/* complete a tx operation, writing leftover bytes and padding as needed */
ci_inline EFCT_TX_FUNCTION_ATTRS __attribute__((always_inline)) void
EFCT_TX_TOKEN(efct_tx_complete)(ef_vi* vi,
                                struct EFCT_TX_TOKEN(efct_tx_state)* tx,
                                uint32_t dma_id, int len)
{
  ef_vi_txq* q = &vi->vi_txq;
  ef_vi_txq_state* qs = &vi->ep_state->txq;
  struct efct_tx_descriptor* desc = q->descriptors;
  int i = qs->added & q->mask;

  if( tx->tail_len != 0 ) {
    const int idx = tx->tail_len / sizeof(tx->tail[0]);
    const int offset = tx->tail_len % sizeof(tx->tail[0]);
    tx->tail[idx] <<= (sizeof(tx->tail[0]) - offset) * 8;
    EFCT_TX_TOKEN(efct_tx_tail)(tx);
  }
  while( tx->offset % efct_tx_scale_offset_bytes(EFCT_TX_ALIGNMENT) != 0 )
    EFCT_TX_TOKEN(efct_tx_chunk)(tx, tx->tail);

  /* Force the write-combined traffic to be flushed to PCIe, to limit the
   * maximum possible reordering the NIC will see to one packet. Benchmarks
   * demonstrate that this sfence is well-parallelised by the CPU, so smarter
   * algorithms trying to avoid it for small packets are unlikely to be
   * cost-effective */
#if defined __x86_64__ || defined __i386__
  /* Our compat tools define ci_wmb() as just a compiler fence on x86, since
   * that's usually right due to TSO. Not in this case. */
  ci_x86_sfence();
#else
  ci_wmb();
#endif

  len = CI_ROUND_UP(len + EFCT_TX_HEADER_BYTES, EFCT_TX_ALIGNMENT);
  desc[i].len = len;
  q->ids[i] = dma_id;
  qs->ct_added += len;
  qs->added += 1;
}

static EFCT_TX_FUNCTION_ATTRS int
EFCT_TX_TOKEN(efct_ef_vi_transmit)(ef_vi* vi, ef_addr base, int len,
                                   ef_request_id dma_id)
{
  /* TODO need to avoid calling this with CTPIO fallback buffers */
  struct EFCT_TX_TOKEN(efct_tx_state) tx;
  uint64_t header;

  if( ! efct_tx_check(vi, len) || ! ef_vi_consume_evq_slots(vi, 1) )
    return -EAGAIN;

  EFCT_TX_TOKEN(efct_tx_init)(vi, &tx);
  header = efct_tx_pkt_header(vi, len, EFCT_TX_CT_DISABLE);
  EFCT_TX_TOKEN(efct_tx_block)(&tx, (void*)&header, sizeof(header));
  EFCT_TX_TOKEN(efct_tx_block)(&tx, (void*)(uintptr_t)base, len);
  EFCT_TX_TOKEN(efct_tx_complete)(vi, &tx, dma_id, len);

  return 0;
}

static EFCT_TX_FUNCTION_ATTRS int
EFCT_TX_TOKEN(efct_ef_vi_transmitv)(ef_vi* vi, const ef_iovec* iov, int iov_len,
                                    ef_request_id dma_id)
{
  struct EFCT_TX_TOKEN(efct_tx_state) tx;
  uint64_t header;
  int len = 0, i;

  EFCT_TX_TOKEN(efct_tx_init)(vi, &tx);

  for( i = 0; i < iov_len; ++i )
    len += iov[i].iov_len;

  if( ! efct_tx_check(vi, len) || ! ef_vi_consume_evq_slots(vi, 1) )
    return -EAGAIN;

  header = efct_tx_pkt_header(vi, len, EFCT_TX_CT_DISABLE);
  EFCT_TX_TOKEN(efct_tx_block)(&tx, (void*)&header, sizeof(header));

  for( i = 0; i < iov_len; ++i )
    EFCT_TX_TOKEN(efct_tx_block)(&tx, (void*)(uintptr_t)iov[i].iov_base,
                                 iov[i].iov_len);

  EFCT_TX_TOKEN(efct_tx_complete)(vi, &tx, dma_id, len);

  return 0;
}

static EFCT_TX_FUNCTION_ATTRS void
EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio)(ef_vi* vi, size_t len,
                                          const struct iovec* iov, int iovcnt,
                                          unsigned threshold)
{
  struct EFCT_TX_TOKEN(efct_tx_state) tx;
  unsigned threshold_extra;
  uint64_t header;
  int i;
  uint32_t dma_id;

  /* If we didn't have space then we must report this in _fallback and have
   * another go */
  vi->last_ctpio_failed = ! efct_tx_check(vi, len) ||
                          ! ef_vi_consume_evq_slots(vi, 1);
  if(unlikely( vi->last_ctpio_failed ))
    return;
  EFCT_TX_TOKEN(efct_tx_init)(vi, &tx);

  /* ef_vi interface takes threshold in bytes, but the efct hardware interface
   * takes multiples of 64 (rounded up), and includes the 8-byte header in the
   * count. Anything too big to fit in the field is equivalent to disabling
   * cut-through; test that first to avoid arithmetic overflow.
   */
  threshold_extra = EFCT_TX_HEADER_BYTES + EFCT_TX_ALIGNMENT - 1;
  if( threshold > EFCT_TX_CT_DISABLE * EFCT_TX_ALIGNMENT - threshold_extra )
    threshold = EFCT_TX_CT_DISABLE;
  else
    threshold = (threshold + threshold_extra) / EFCT_TX_ALIGNMENT;

  threshold = CI_MAX((unsigned)vi->vi_txq.ct_thresh_min, threshold);
  header = efct_tx_pkt_header(vi, len, threshold);
  EFCT_TX_TOKEN(efct_tx_block)(&tx, (void*)&header, sizeof(header));

  for( i = 0; i < iovcnt; ++i )
    EFCT_TX_TOKEN(efct_tx_block)(&tx, iov[i].iov_base, iov[i].iov_len);

  /* Use a valid but bogus dma_id rather than invalid EF_REQUEST_ID_MASK to
   * support tcpdirect, which relies on the correct return value from
   * ef_vi_transmit_unbundle to free its otherwise unused transmit buffers.
   *
   * For compat with existing ef_vi apps which will post a fallback and may
   * want to use the dma_id we'll replace this value with the real one then.
   *
   * For transmit warmup, use an invalid dma_id so that it is ignored.
   */
  dma_id = tx_warm_active(vi) ? EF_REQUEST_ID_MASK : EFCT_TX_POSTED_ID;
  EFCT_TX_TOKEN(efct_tx_complete)(vi, &tx, dma_id, len);
}

static EFCT_TX_FUNCTION_ATTRS void
EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio_copy)(ef_vi* vi, size_t frame_len,
                                               const struct iovec* iov,
                                               int iovcnt, unsigned threshold,
                                               void* fallback)
{
  int i;

  EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio)(vi, frame_len, iov, iovcnt,
                                            threshold);

  /* This could be made more efficient, if anyone cares enough */
  for( i = 0; i < iovcnt; ++i ) {
    memcpy(fallback, iov[i].iov_base, iov[i].iov_len);
    fallback = (char*)fallback + iov[i].iov_len;
  }
}

static EFCT_TX_FUNCTION_ATTRS int
EFCT_TX_TOKEN(efct_ef_vi_transmit_ctpio_fallback)(ef_vi* vi, ef_addr dma_addr,
                                                  size_t len,
                                                  ef_request_id dma_id)
{
  if(unlikely( vi->last_ctpio_failed )) {
    int rc = EFCT_TX_TOKEN(efct_ef_vi_transmit)(vi, dma_addr, len, dma_id);
    vi->last_ctpio_failed = rc == -EAGAIN;
    return rc;
  }
  return efct_ef_vi_ctpio_fallback(vi, dma_id);
}


static EFCT_TX_FUNCTION_ATTRS int
EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio_fallback)(ef_vi* vi,
                                                   const ef_iovec* dma_iov,
                                                   int dma_iov_len,
                                                   ef_request_id dma_id)
{
  if(unlikely( vi->last_ctpio_failed )) {
    int rc = EFCT_TX_TOKEN(efct_ef_vi_transmitv)(vi, dma_iov, dma_iov_len,
                                                 dma_id);
    vi->last_ctpio_failed = rc == -EAGAIN;
    return rc;
  }
  return efct_ef_vi_ctpio_fallback(vi, dma_id);
}

static EFCT_TX_FUNCTION_ATTRS void
EFCT_TX_TOKEN(efct_vi_set_tx_ops)(ef_vi* vi)
{
  vi->ops.transmit = EFCT_TX_TOKEN(efct_ef_vi_transmit);
  vi->ops.transmitv = EFCT_TX_TOKEN(efct_ef_vi_transmitv);
  vi->ops.transmitv_init = EFCT_TX_TOKEN(efct_ef_vi_transmitv);
  vi->ops.transmitv_ctpio = EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio);
  vi->ops.transmitv_ctpio_copy =
    EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio_copy);
  vi->ops.transmit_ctpio_fallback =
    EFCT_TX_TOKEN(efct_ef_vi_transmit_ctpio_fallback);
  vi->ops.transmitv_ctpio_fallback =
    EFCT_TX_TOKEN(efct_ef_vi_transmitv_ctpio_fallback);
}

#undef EFCT_TX_CHUNK_SIZE
#undef _EFCT_TOKEN_CONCAT
#undef EFCT_TOKEN_CONCAT
#undef EFCT_TX_TOKEN
#undef EFCT_TX_TAIL_SIZE
#undef EFCT_TX_FUNCTION_ATTRS
