Source: #TYPE#
Section: net
Priority: extra
Maintainer: Support <support@solarflare.com>
Build-Depends: debhelper (>= 8.0.0), bzip2, gawk, glibc | libc6, python3-dev, libpcap-dev, libcap-dev, debhelper (>= 13.3) | dh-sysuser
Standards-Version: 3.9.3
Homepage: http://www.openonload.org

Package: #TYPE#-user
Architecture: any
Depends: adduser, psmisc, ${shlibs:Depends}, ${misc:Depends}, python3
Suggests: #TYPE#-modules-${source:Version}
Provides: onload-user
Description: Onload TCP/IP stack - library

Package: #TYPE#-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2, #TYPE#-user (>= ${source:Version}), #TYPE#-user (<< ${source:Version}.1~), ${misc:Depends}
Provides: onload-source
Description: source for the #TYPE# driver.
 This package provides the source code for the #TYPE# kernel modules.
 The #TYPE# package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
